.allign-all{
    display: flex;
    background-color: #eeeeee6e;
    height: 100px;
    border-bottom: 1px solid black;
}

.allign-header{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-explore{
    color: blueviolet;
   
    width: 250px;
    
    
}
.berger-logo{
    height: 100px;
}