.warehouse-format{
    background-color: #eeeeee6e;
    height: 50px;
    display: flex;
    
    border-bottom: 1px solid black;
}
.warehouse-format1{
    
    display: flex;
   

}

.paint-display-section{
    position: relative;
}

.cross-close{
    color: red;
    font-weight: bold;
    font-size: large;
    position: absolute;
    right: 40px;
    top: 20px;
    
}

.insert-button-plus{
    border: 1px solid black;
    border-radius: 4px;
    font-size: x-large;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
   

}

.ware-name-div{
    display: flex;
   
    
    
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ware-name-div2{
    display: flex;
    border-right: 1px solid black;
    margin-right: 15px;
    width: 150px;
    justify-content: center;
}


